body
    background-color: #000

canvas
    position: absolute
    top: 0
    left: 0
    width: 512px
    height: 384px

#menu
    position: absolute
    top: 0
    left: 0
    border: 1px solid #1f1f1f
    width: 512px
    height: 384px
    z-index: 2

#container
    position: relative
    padding: 16px 32px