body
    background-color: #000

canvas
    position: absolute
    top: 0
    left: 0
    width: 512px
    height: 384px

#menu
    position: absolute
    top: 0
    left: 0
    border: 1px solid #1f1f1f
    width: 512px
    height: 384px
    z-index: 2
    color: #daa520
    a
        color: #daa520

.container
    position: relative
    padding: 16px 32px
    height: 352px

#modal-grid
    position: relative
    height: 352px
    display: grid
    grid-template-rows: 1fr 1fr 1fr

.modal
    grid-row-start: 3
    padding: 8px 16px
    background: #000000
    border: 2px solid #daa520
    border-radius: 2px